<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Insert title here</title>

<link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css?family=Mukta:300,400,700}">
<link rel="stylesheet" th:href="@{/fonts/icomoon/style.css}">

<link rel="stylesheet" th:href="@{/css/bootstrap.css}">
<link rel="stylesheet" th:href="@{/css/bootstrap/mixins/_text-truncate.css}">
<link rel="stylesheet" th:href="@{/css/bootstrap-grid.css}">
<link rel="stylesheet" th:href="@{/css/bootstrap-reboot.css}">
<link rel="stylesheet" th:href="@{/css/bootstrap-utilities.css}">
<link rel="stylesheet" th:href="@{/css/tiny-slider.css}">

<link rel="stylesheet" th:href="@{/css/aos.css}">
<link rel="stylesheet" th:href="@{/css/style.css}">

<th:block layout:fragment="css"></th:block>


</head>

<body>
	<div class="site-map">
		<div th:replace="fragments/header::header"></div>
		<div layout:fragment="content" class="content"></div>
		<div th:replace="fragments/footer::footer"></div>
	</div>
	
	<script th:src="@{/js/aos.js}"></script>
	<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/js/counter.js}"></script>
	<script th:src="@{/js/custom.js}"></script>
	<script th:src="@{/js/navbar.js}"></script>

	<script th:src="@{/js/tiny-slider.js}"></script>

	<script th:src="@{/js/main.js}"></script>
	<script src="https://kit.fontawesome.com/9b6a1e8c46.js" crossorigin="anonymous"></script>
	
	<th:block layout:fragment="script">
	</th:block>
</body>
</html>