<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">


<th:block layout:fragment="css">
	<style>
		.ratings i{
			font-size: 16px;color: red
		}
		
		.strike-text{
			color: red;text-decoration: line-through
		}
		
		.product-image{
			width: 100%
		}
		
		.dot{
			height: 7px;
			width: 7px;
			margin-left: 6px;
			margin-right: 6px;
			margin-top: 3px;
			background-color: blue;
			border-radius: 50%;
			display: inline-block
		}
		
		.spec-1{
			color: #938787;
			font-size: 15px
		}
		
		h5{
			font-weight: 400
		}
		
		.para{
			font-size: 16px
		}
	</style>
</th:block>
	<div layout:fragment="content" style="width: 1200px; height: 2000px; margin: 0 auto;">
		<div class="container mt-5 mb-5">
    <div class="d-flex justify-content-center row">
        <div class="col-md-10" th:each="regist, status : ${regists.getContent()}" >
            <div class="row p-2 bg-white border rounded" th:each="registClass : ${regist.classRegistDtoList}">
                <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" th:src="${registClass.imgUrl}"></div>
                <div class="col-md-6 mt-1">
                    <h5 th:text="${registClass.classNm}"></h5>
                    <div class="d-flex flex-row">
                        <div class="ratings mr-2"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div><span th:text="${status.size}"></span>
                    </div>
                    <div class="mt-1 mb-1 spec-1"><span class="dot"></span><span th:text="${registClass.date}"></span><span class="dot"></span><span th:text="${registClass.time}"></span></div>
                    <p class="text-justify text-truncate para mb-0">날짜와 시간 확인 부탁드립니다.<br><br></p>
                </div>
                <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                    <div class="d-flex flex-row align-items-center">
                        <h4 class="mr-1" >[[${#numbers.formatInteger(registClass.registPrice * registClass.count, 0, 'COMMA') + '원'}]]</h4>
                    </div>
                    <h6 class="text-success" th:text="${registClass.count + '명'}"></h6>
                    <div class="d-flex flex-column mt-4"><button class="btn btn-primary btn-sm" type="button">클래스 확인하러 가기</button><button class="btn btn-outline-primary btn-sm mt-2" type="button">클래스 취소하기</button></div>
                </div>
            </div>
        </div>
    </div>
</div>
		</div>
</html>