<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="header"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

	   
	    <nav class="site-nav">
      <div class="container">
        <div class="menu-bg-wrap">
          <div class="site-navigation">
            <a href="/" class="logo m-0 float-start"><img src="/images/로고.png" alt="Image" style="width: 200px;"/></a>

            <ul
              class="js-clone-nav d-none d-lg-inline-block text-start site-menu float-end"
            >
            
              <li><a href="/">홈</a></li>
              <li class="has-children active">
              	 <a sec:authorize="hasAnyAuthority('ROLE_ADMIN')">관리자 메뉴</a >
                  <ul class="dropdown">
                    <li><a href="/admin/oneday/new">클래스 등록</a></li>
                    <li><a href="/admin/classes">클래스 관리</a></li>
                  </ul>
              </li>
              <li class="has-children active">
                <a href="properties.html">카테고리</a>
                <ul class="dropdown">
                  <li><a href="/oneday/list/1">요리/베이킹</a></li>
                  <li><a href="/oneday/list/2">핸드메이드</a></li>
                  <li><a href="/oneday/list/3">드로잉</a></li>
                  <li><a href="/oneday/list/4">운동</a></li>
                </ul>
              </li>
              <li><a href="/oneday/list">살펴보기</a></li>
              <li><a href="/members/login" sec:authorize="isAnonymous()">로그인</a></li>
              <li><a href="contact.html" sec:authorize="isAuthenticated()">내 정보</a></li>
              <li><a href="/members/logout" sec:authorize="isAuthenticated()">로그아웃</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>


</html>