<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">


<body layout:fragment="content">
		    <div class="section section-properties">
      <div class="container">
        <div class="row" >
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4"
          th:each="class : ${classCt.getContent()}" >
            <div class="property-item mb-30">
              <a th:href="'/oneday/' + ${class.id}" class="img">
                <img th:src="${class.imgUrl}" alt="Image" class="img-fluid" style="width: 404px; height: 404px; "/>
              </a>

              <div class="property-content">
                <div class="price mb-2"><span th:text="${class.category.categoryNm}"></span></div>
                <div>
                  <span class="d-block mb-2 text-black-50" th:text="${class.region}"></span
                  >
                  <span class="city d-block mb-3" th:text="${class.classNm}"></span>

                  <div class="specs d-flex mb-4">
                    <span class="d-block d-flex align-items-center me-3">
                      <span class="icon-bed me-2"></span>
                      <span class="caption">2 beds</span>
                    </span>
                    <span class="d-block d-flex align-items-center">
                      <span class="icon-bath me-2"></span>
                      <span class="caption">2 baths</span>
                    </span>
                  </div>

                  <a
                    th:href="'/oneday/' + ${class.id}"
                    class="btn btn-primary py-2 px-3"
                    >신청하러 가기</a
                  >
                </div>
              </div>
            </div>
            
          </div>


        </div>
        <div class="row align-items-center py-5" style="margin: 0 auto;">
          <div class="col-lg-6 text-center" style="width:100% !important;">
<!--           <nav th:with="start=${(classes.number/maxPage)*maxPage + 1}, 
						end=(${(classes.totalPages == 0) ? 1 : (start + (maxPage - 1) < classes.totalPages ? 
						start + (maxPage - 1) : classes.totalPages)})">
            <ul class="custom-pagination" style="list-style: none; display: flex; justify-content: center;">
             <li th:classappend="${classes.first}?'disabled'" style="margin-right: 10px;">
             <a th:href="@{'/oneday/list' + '?searchQuery=' + ${classSearchDto.searchQuery} + '&page=' + ${classes.number - 1}}">◀</a></li>
              <li><a href="#" th:each="page: ${#numbers.sequence(start, end)}" th:classappend="${classes.number eq page-1}?'active':''"
              th:inline="text" th:href="@{'/oneday/list' + '?searchQuery=' + ${classSearchDto.searchQuery} + '&page=' + ${page - 1}}">[[${page}]]</a>
				</li>
				<li th:classappend="${classes.last}?'disabled'" style="margin-left: 10px;">
					<a th:href="@{'/oneday/list' + '?searchQuery=' + ${classSearchDto.searchQuery} + '&page=' + ${classes.number + 1}}">▶</a>
				</li>
            </ul>
            </nav> -->
          </div>
        </div>
      </div>
    </div>
</body>
</html>