<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">
<head>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />
</head>

<th:block layout:fragment="css">
</th:block>

<div layout:fragment="content" style="width: 1200px; height: 2000px; margin: 0 auto;">
<form th:action="@{'/admin/classes/' + ${classes.number}}" method="get" th:object="${classes}">
	<table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">클래스</th>
      <th scope="col">강사</th>
      <th scope="col">카테고리</th>
      <th scope="col">가격</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="class, status : ${classes.getContent()}">
      <th scope="row"><a th:href="'/admin/oneday/' + ${class.id}"  th:text="${class.id}" ></a></th>
      <td th:text="${class.classNm}"></td>
      <td th:text="${class.teacherNm}"></td>
      <td th:text="${class.category.categoryNm}"></td>
      <td>[[${#numbers.formatInteger(class.price, 0, 'COMMA') + '원'}]]</td>
      <td>
		<button type="button" th:value="${class.Id}" onclick="deleteClass(this.value)">
		삭제</button>
	<td>
    </tr>
  </tbody>
</table>
</form>
</div>
<th:block layout:fragment="script">
	<script th:inline="javascript">
	function deleteClass(classId) {
		const deleteconf = confirm("삭제하시겠습니까?");
		if(!deleteconf) return;
		
		var token = $("meta[name='_csrf']").attr("content");
		var header = $("meta[name='_csrf_header']").attr("content");
		
 		//서버로 보내줄 데이터(반드시 JSON  -> string 타입으로 바꿔야한다.)
		var paramData = {
			classId : classId	
		}; 
		
		var url = "/admin/" + classId + "/delete";
			$.ajax({
				url : url,
				type : "DELETE", //전송방식
				contentType : "application/json",
				beforeSend : function(xhr) {
					//데이터를 전송하기 전에 헤더에 xsrf값
					xhr.setRequestHeader(header, token);
				},
				dataType : "json",
				cache : false,
				success : function(result, status) {

					location.href= '/admin/classes'
				},
				error : function(jqXHR, status, error) {
					if(jqXHR.status == '401') {
						alert('로그인 후 이용해주세요.');
						location.href = '/member/login';
					} else {
						alert(jqXHR.responseText);
					}
				}
			});
	}
	</script>
</th:block>
</html>