<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">
<!-- CSS only -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
	crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
	crossorigin="anonymous"></script>
<th:block layout:fragment="css">
	<style>
	.main {
		width: 1000px;
		margin: 30px auto;
	}
	.form-select {
		width: 200px;
		margin-right: 20px;
	}
	</style>
</th:block>
<div class="main" layout:fragment="content">
	<form role="form" action="/admin/oneday/upload" method="post"
			enctype="multipart/form-data" th:object="${classFormDto}" name="classForm">
			<input type="hidden" th:field="*{id}" />
		<label class="form-label">카테고리</label>
		<select class="form-select" aria-label="Default select example" th:field="*{categoryId}">
<!-- 		  <option selected>카테고리</option> -->
		  <option value="1">요리</option>
		  <option value="2">운동</option>
		  <option value="3">공예</option>
		  <option value="4">드로잉</option>
		</select>
			
		<div class="mb-3">
  			<label th:for="classNm" class="form-label">클래스 이름</label>
 			 <input type="text" class="form-control" placeholder="클래스 이름을 입력해주세요."
 			 th:field="*{classNm}">
			<p th:if="${#fields.hasErrors('classNm')}" th:errors="*{classNm}"
				class="fieldError">Incorrect Data</p>
		</div>
		<div class="mb-3">
  			<label th:for="teacherNm" class="form-label">강사</label>
 			<input type="text" class="form-control" placeholder="클래스 강사님의 성함을 입력해주세요."
 			th:field="*{teacherNm}">
			<p th:if="${#fields.hasErrors('teacherNm')}" th:errors="*{teacherNm}"
				class="fieldError">Incorrect Data</p>
		</div>
			<label class="form-label">지역선택</label>
		<div style="display: flex;">
			<select class="form-select region"  name="addressRegion" id="addressRegion1"></select>
    		<select class="form-select region" name="addressDo" id="addressDo1"></select>
    		<select  class="form-select region" name="addressSiGunGu" id="addressSiGunGu1"></select>
		</div>
		<div>
      		<input type="hidden" class="form-control" size="5" name="region" id="region" th:field="*{region}" />
		</div>

			<p th:if="${#fields.hasErrors('region')}" th:errors="*{region}"
				class="fieldError">Incorrect Data</p>
		
		<div class="mb-3">
  			<label class="form-label">상세주소</label>
 			<input type="text" class="form-control" placeholder="상세 주소" name="regionDtl" th:field="*{regionDtl}">
		</div> 
		
		<div class="mb-3">
  			<label th:for="price" class="form-label">가격</label>
 			<input type="text" class="form-control" placeholder="가격을 입력해주세요."
 			th:field="*{price}" onkeyup="inputNumberFormat(this)">
			<p th:if="${#fields.hasErrors('price')}" th:errors="*{price}"
				class="fieldError">Incorrect Data</p>
		</div>
		<div class="mb-3">
 			<label th:for="classDetail" class="form-label">상세정보</label>
  			<textarea class="form-control" id="fg" rows="10" th:field="*{classDetail}"></textarea>
  			
</div>
		<div class="form-group row" th:each="num: ${#numbers.sequence(1,5)}">
			<div class="col-md-12">
				<label for="formFile" class="form-label" th:text="클래스이미지 + ${num}"></label>
				<input class="form-control" type="file" id="classImgFile" name="classImgFile">
			<p th:if="${#fields.hasErrors('classDetail')}" th:errors="*{classDetail}"
				class="fieldError">Incorrect Data</p>
			</div>
		</div>
		
		
<div>
    <!-- 초기에는 한 개의 날짜와 시간 입력칸을 미리 생성 -->
    <div class="dateTime" >
        <div class="timesContainer">
	        <input type="date" id="date" name="date" th:field="*{classInfos[0].date}">
	            <input type="time" id="time1" th:field="*{classInfos[0].classTimes[0].time}">
	            <input type="time" id="time2" th:field="*{classInfos[0].classTimes[1].time}">
	            <input type="time" id="time3" th:field="*{classInfos[0].classTimes[2].time}">
	            <br/>
	        <input type="date" id="date" name="date" th:field="*{classInfos[1].date}">
	        	<input type="time" id="time1" th:field="*{classInfos[1].classTimes[0].time}">
	            <input type="time" id="time2" th:field="*{classInfos[1].classTimes[1].time}">
	            <input type="time" id="time3" th:field="*{classInfos[1].classTimes[2].time}">
	            <br/>
	        <input type="date" id="date" name="date" th:field="*{classInfos[2].date}">
	        	<input type="time" id="time1" th:field="*{classInfos[2].classTimes[0].time}">
	            <input type="time" id="time2" th:field="*{classInfos[2].classTimes[1].time}">
	            <input type="time" id="time3" th:field="*{classInfos[2].classTimes[2].time}">
	            <br/>
        </div>

    </div>
</div>

<!-- <button type="button" id="addDateTimeBtn">Add Date and Time</button>
<div id="dateTimeContainer"></div>
	 -->
<!-- 	<label class="form-label">한 클래스 당 모집인원</label>
	<input type="number" class="form-select region" th:field="*{classInfos.classTimes.maxUser}"></input>
	
	<label class="form-label">현재 인원</label>
 	<input type="number" class="form-select region" th:field="*{classInfos.classTimes.nowUser}" th:value="0"></input> -->
			

			<button type="button" class="btn btn-warning" onclick="beforeSubmit()">등록하기</button>
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
			
	</form>
</div>

	<th:block layout:fragment="script">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script th:inline="javascript">
/* 		$(document).ready(function() {
			var errorMessage = [[${errorMessage}]];
			if(errorMessage != null) {
				alert(errorMessage);
			}
			bindDomEvent();
		}) */
		
		//천단위 콤마찍는 함수
		 function inputNumberFormat(obj) {
			  let value = obj.value;
			  value = Number(value.replaceAll(',', ''));
			  if(isNaN(value)) { //숫자가 아니면 0으로 바꾼다
				  obj.value = 0;
			  }else {
			    const formatValue = value.toLocaleString('ko-KR');
			    obj.value = formatValue;
			  }
		 }
		
		//상품등록 버튼을 누를때 전단위콤마를 제거해준다.
		 function beforeSubmit() {
			 const f = document.classForm;
			 let price = f.price.value;
			 f.price.value = Number(price.replaceAll(',', '')); //price는 int값이므로 천단위 콤마제거

			 f.submit();
		 }
	
		//파일 첨부 시 확장자가 이미지 파일인지 검사한다.
  		 function bindDomEvent(){
      	 $(".custom-file-input").on("change", function() {
           var fileName = $(this).val().split("\\").pop();  //이미지 파일명
           var fileExt = fileName.substring(fileName.lastIndexOf(".")+1); // 확장자 추출
           fileExt = fileExt.toLowerCase(); //소문자 변환

           if(fileExt != "jpg" && fileExt != "jpeg" && fileExt != "gif" && fileExt != "png" && fileExt != "bmp"){
               alert("이미지 파일만 등록이 가능합니다.");
               return;
           }

           $(this).siblings(".custom-file-label").html(fileName);
      	 });
  		 }
		
/*   	 	$(document).ready(function() {
 			  $('select').niceSelect();
			});   */

			$('#addressRegion1').change(function () {
			    timemerge();
			});

			$('#addressDo1').change(function () {
			    timemerge();
			});
			
			$('#addressSiGunGu1').change(function () {
			    timemerge();
			});


			function timemerge() {
			    $('#region').val($('#addressRegion1').val() + '|' + $('#addressDo1').val() + '|' + $('#addressSiGunGu1').val());

			} 

		
		$(function(){
		    areaSelectMaker("select[name=addressRegion]");
		});

		var areaSelectMaker = function(target){
		    if(target == null || $(target).length == 0){
		        console.warn("Unkwon Area Tag");
		        return;
		    }

		    var area = {
		        "수도권" :{
		            "서울특별시" : [ "강남구", "강동구", "강북구", "강서구", "관악구", "광진구", "구로구", "금천구", "노원구", "도봉구", "동대문구", "동작구", "마포구", "서대문구", "서초구", "성동구", "성북구", "송파구", "양천구", "영등포구", "용산구", "은평구", "종로구", "중구", "중랑구" ],
		            "경기도" : [ "수원시 장안구", "수원시 권선구", "수원시 팔달구", "수원시 영통구", "성남시 수정구", "성남시 중원구", "성남시 분당구", "의정부시", "안양시 만안구", "안양시 동안구", "부천시", "광명시", "평택시", "동두천시", "안산시 상록구", "안산시 단원구", "고양시 덕양구", "고양시 일산동구",
		                "고양시 일산서구", "과천시", "구리시", "남양주시", "오산시", "시흥시", "군포시", "의왕시", "하남시", "용인시 처인구", "용인시 기흥구", "용인시 수지구", "파주시", "이천시", "안성시", "김포시", "화성시", "광주시", "양주시", "포천시", "여주시", "연천군", "가평군",
		                "양평군" ],
		            "인천광역시" : [ "계양구", "미추홀구", "남동구", "동구", "부평구", "서구", "연수구", "중구", "강화군", "옹진군" ]			
		        },
		        "강원권" :{
		            "강원도" : [ "춘천시", "원주시", "강릉시", "동해시", "태백시", "속초시", "삼척시", "홍천군", "횡성군", "영월군", "평창군", "정선군", "철원군", "화천군", "양구군", "인제군", "고성군", "양양군" ]			
		        },
		        "충청권" :{
		            "충청북도" : [ "청주시 상당구", "청주시 서원구", "청주시 흥덕구", "청주시 청원구", "충주시", "제천시", "보은군", "옥천군", "영동군", "증평군", "진천군", "괴산군", "음성군", "단양군" ],
		            "충청남도" : [ "천안시 동남구", "천안시 서북구", "공주시", "보령시", "아산시", "서산시", "논산시", "계룡시", "당진시", "금산군", "부여군", "서천군", "청양군", "홍성군", "예산군", "태안군" ],
		            "대전광역시" : [ "대덕구", "동구", "서구", "유성구", "중구" ],
		            "세종특별자치시" : [ "세종특별자치시" ]			
		        },
		        "전라권" :{
		            "전라북도" : [ "전주시 완산구", "전주시 덕진구", "군산시", "익산시", "정읍시", "남원시", "김제시", "완주군", "진안군", "무주군", "장수군", "임실군", "순창군", "고창군", "부안군" ],
		            "전라남도" : [ "목포시", "여수시", "순천시", "나주시", "광양시", "담양군", "곡성군", "구례군", "고흥군", "보성군", "화순군", "장흥군", "강진군", "해남군", "영암군", "무안군", "함평군", "영광군", "장성군", "완도군", "진도군", "신안군" ],
		            "광주광역시" : [ "광산구", "남구", "동구", "북구", "서구" ]			
		        },
		        "경상권" : {
		            "경상북도" : [ "포항시 남구", "포항시 북구", "경주시", "김천시", "안동시", "구미시", "영주시", "영천시", "상주시", "문경시", "경산시", "군위군", "의성군", "청송군", "영양군", "영덕군", "청도군", "고령군", "성주군", "칠곡군", "예천군", "봉화군", "울진군", "울릉군" ],
		            "경상남도" : [ "창원시 의창구", "창원시 성산구", "창원시 마산합포구", "창원시 마산회원구", "창원시 진해구", "진주시", "통영시", "사천시", "김해시", "밀양시", "거제시", "양산시", "의령군", "함안군", "창녕군", "고성군", "남해군", "하동군", "산청군", "함양군", "거창군", "합천군" ],
		            "부산광역시" : [ "강서구", "금정구", "남구", "동구", "동래구", "부산진구", "북구", "사상구", "사하구", "서구", "수영구", "연제구", "영도구", "중구", "해운대구", "기장군" ],
		            "대구광역시" : [ "남구", "달서구", "동구", "북구", "서구", "수성구", "중구", "달성군" ],
		            "울산광역시" : [ "남구", "동구", "북구", "중구", "울주군" ]			
		        },
		        "제주권" : {
		            "제주특별자치도" : [ "서귀포시", "제주시" ]			
		        }
		    };

		    for(i=0; i<$(target).length; i++){
		        (function(z){
		            var a1 = $(target).eq(z);
		            var a2 = a1.next();
		            var a3 = a2.next();

		            //초기화
		            init(a1, true);

		            //권역 기본 생성
		            var areaKeys1 = Object.keys(area);
		            areaKeys1.forEach(function(Region){
		                a1.append("<option value="+Region+">"+Region+"</option>");
		            });

		            //변경 이벤트
		            $(a1).on("change", function(){
		                init($(this), false);
		                var Region = $(this).val();
		                var keys = Object.keys(area[Region]);
		                keys.forEach(function(Do){
		                    a2.append("<option value="+Do+">"+Do+"</option>");    
		                });
		            });

		            $(a2).on("change", function(){
		                a3.empty().append("<option value=''>선택</option>");
		                var Region = a1.val();
		                var Do = $(this).val();
		                var keys = Object.keys(area[Region][Do]);
		                keys.forEach(function(SiGunGu){
		                    a3.append("<option value="+area[Region][Do][SiGunGu]+">"+area[Region][Do][SiGunGu]+"</option>");    
		                });
		            });
		        })(i);        

		        function init(t, first){
		            first ? t.empty().append("<option value=''>선택</option>") : "";
		            t.next().empty().append("<option value=''>선택</option>");
		            t.next().next().empty().append("<option value=''>선택</option>");
		        }
		    }
		}
/* 		
	    let dateCount = 0;
	    let timeCount = [];

	    function addDateTimeInput() {
	        if (dateCount < 5) {
	            const dateInput = document.createElement('input');
	            dateInput.type = 'date';
	            dateInput.name = 'date';
	            dateInput.id = 'date';
	            document.getElementById('dateTimeContainer').appendChild(dateInput);

	            const addTimeBtn = document.createElement('button');
	            addTimeBtn.innerHTML = 'Add Time';
	            addTimeBtn.id = 'addTimeBtn-' + dateCount; // id에 날짜 인덱스를 추가하여 버튼 생성
	            addTimeBtn.addEventListener('click', (event) => {
	                event.preventDefault();
	                const dateIndex = parseInt(event.target.id.split('-')[1]); // id에서 날짜 인덱스를 추출
	                addTimeInput(dateIndex);
	            });
	            document.getElementById('dateTimeContainer').appendChild(addTimeBtn);

	            const lineBreak = document.createElement('br');
	            document.getElementById('dateTimeContainer').appendChild(lineBreak);

	            // 해당 날짜의 시간 개수를 초기화
	            timeCount[dateCount] = 0;

	            dateCount++;
	        }

	        if (dateCount === 5) {
	            document.getElementById('addDateTimeBtn').disabled = true;
	        }
	    }

	    function addTimeInput(dateIndex) {
	        if (timeCount[dateIndex] < 5) { // 각 날짜별로 최대 5개까지 시간 추가
	            const timeInput = document.createElement('input');
	            timeInput.type = 'time';
	            timeInput.name = 'time';
	            timeInput.id = 'time';
	            document.getElementById('dateTimeContainer').appendChild(timeInput);
	            timeCount[dateIndex]++;

	            if (timeCount[dateIndex] === 5) {
	                const addTimeBtn = document.getElementById('addTimeBtn-' + dateIndex);
	                addTimeBtn.style.visibility = 'hidden'; // 버튼을 숨김 처리
	            }
	        }
	    }

	    document.getElementById('addDateTimeBtn').addEventListener('click', addDateTimeInput);

	    // 처음 날짜에서 시간 추가 가능하도록 추가
	    addDateTimeInput();
	     */
		</script>

	</th:block>
</html>